@import "./base/reset";
@import "./base/typography";
@import "./utils/variables";
@import "./layout/header";
@import "./layout/forms";
@import "./components/buttons";
@import "./components/slider";
@import "./layout/footer";
@import "./pages/nosotros";



.categorias .Placasdevideo{font-size: 3rem;}

.categorias .procesadores{font-size: 3rem;}

.categorias{
    background-color: yellow;
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content:space-around;
}
