.section__tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    padding: 10px;
    gap: 40px;

    @media (min-width:760px) {

        flex-direction: row;
        flex-wrap: wrap;
        gap: 80px;


    }


    .tarjeta {
        margin: 5px;
        border: solid 2px black;
        border-radius: 15px;
        width: 200px;
        height: 270px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2px;


    }
}


.monitor {
    background-image: url(https://i.ibb.co/85HYC7n/monitor1.webp);
    width: 150px;
    height: 120px;
    background-size: contain;

    &:hover {
        background-image: url(https://i.ibb.co/pftB112/monitor12.png);
    }





}

.monitor2 {
    background-image: url(https://i.ibb.co/VHtqMrD/m2.webp);
    width: 150px;
    height: 120px;
    background-size:cover;
    background-position: center;
    
    

    &:hover {
        background-image: url(https://i.ibb.co/XpRYMCS/m22.webp);
    }



}

.monitor3 {
    background-image: url(https://i.ibb.co/r4pkCmD/m3.webp);
    width: 150px;
    height: 120px;
    background-size:cover;
    background-position: center;
    
    

    &:hover {
        background-image: url(https://i.ibb.co/ygV8XFc/m32.webp);
    }



}

.monitor4 {
    background-image: url(https://i.ibb.co/KF7JDQr/m4.webp);
    width: 150px;
    height: 120px;
    background-size:cover;
    background-position: center;
    
    

    &:hover {
        background-image: url(https://i.ibb.co/cQh6j6K/m42.webp);
    }



}
.monitor5 {
    background-image: url(https://i.ibb.co/Lx4HTrG/m5.webp);
    width: 150px;
    height: 120px;
    background-size:cover;
    background-position: center;
    
    

    &:hover {
        background-image: url(https://i.ibb.co/zN7YZCX/m52.webp);
    }



}

.monitor6 {
    background-image: url(https://i.ibb.co/Yy6PCQG/m622.png);
    width: 150px;
    height: 120px;
    background-size:cover;
    background-position: center;
    
    

    &:hover {
        background-image: url(https://i.ibb.co/zffJ9Y0/m62.webp);
    }



}


