.nosotros {
    height: fit-content;
    padding: 10px;
    margin: 10px;

    &-tittle {
        text-align: center;
        font-size: 2rem;
        padding: 15px;

    }

    &-parrafo{ padding: 10px;
    margin: 10px;}


    @media (min-width: 768px) {
        & {
            height: 40vh;

            &-title {
                text-align:start;
            }
        }


    }

}