.televisor1 {
    background-image: url(https://i.ibb.co/C5jBkCB/tv1.jpg);
    width: 150px;
    height: 120px;
    background-size: contain;
   

    &:hover {
        background-image: url(https://i.ibb.co/B20hW7t/tv12.jpg);
    }





}

