/* Contacto CSS */


.enviar{margin: 5px;
    
    
    &:hover {padding: 4px;
    color: black;
    background-color: green;
   border: none;
    border-radius: 10px;

}
}


.borrar{margin: 5px;



&:hover {padding: 4px;
    color: black;
    background-color: red;
   border: none;
    border-radius: 10px;

}
}

