.links {
text-decoration: none;
color: $color-2;
transition: all 300ms;

&:hover {
      transform: scale(1.1);
        color:$color-3;
  }
}


.comprar{ color: $color-1;
    transition: all;
    text-decoration: none;
    padding: 2px;
    
    &:hover {color: $color-2;
        background-color: $color-1;
        border-radius: 10px;
        padding: 2px;
        text-decoration: none;
        border: solid $color-1 1px;
        transform: scale(1,2);
    }   
}