/* sponsor css */



.sponsor {


  height: 100px;
  position: relative;
  background: $color-3;
  overflow: hidden;


}

.square {
  display: inline-block;
  height: 100px;
  background: $color-3;


}


.slider {
  position: absolute;
  animation: slider 5s infinite linear;


}

/* Animacion */


@keyframes slider {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(100vw, 0);
  }

}


img {
  min-width: 150px;

}