/* Animacion */


/* sponsor css */



.sponsor{
   
    
    height: 100px;
    background: black;
    
    
  }

  .square {
    height: 100px;
    background: black;
   
  }

  
.slider{
    position: absolute;
    animation: slider 5s infinite linear;
    
   
  }
  
  @keyframes slider {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(100%, 0);
    } 
   
  }

  img {
    min-width: 150px;
}
